body, html {
    margin: 0px; 
    padding: 0px;
    height: 100%;
    width: 100%;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
    font-family:  Times New Roman, serif;
    background-color: white;
}

h1{
    padding: 0.5em;
    font-size: 1.5em;
}

h2{
    padding: 0.5em;
    font-size: 1em;
}

div.tree ul li {
    list-style-type: none;
}

div.tree ul li span{
    padding: 1px;//для того чтобы при отсутствии контента спан не исчезал
}

div.tree ul li span:focus {
    border: 1px dashed gray;
}

//div.tree ul li span:hover {
//    background-color: lightgray;
//}

div.tree div.triangle-right, div.tree div.triangle-down {
    margin-left: -0.5em;
    float: left;
    width: 0;
    height: 0;
    margin-top: 0.35em;
}

div.tree div.triangle-right {
    border-top: 0.25em solid transparent;
    border-left: 0.5em solid gray;
    border-bottom: 0.25em solid transparent;
}

div.tree div.triangle-down {
    border-bottom: 0.5em solid black;
    border-left: 0.5em solid transparent;
    //border-left: 0.25em solid transparent;
    //border-right: 0.25em solid transparent;
    //border-top: 0.5em solid black;
}

div.tree div.triangle-none {
    margin-left: 0em;
    margin-top: 0em;
}

#context-menu{
    position: absolute;
    display: none;
    border: 1px solid gray;
    background-color: lightgray ;
    text-decoration: underline;
    padding: 0.25em;
}

#context-menu div{
    cursor: pointer;
}